html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.user {
	color: blue;
	cursor: pointer;
}

div {
	text-align: center;
}

div:hover {
	background-color: #EBEBE6;
}

button {
	vertical-align: middle;
	margin-top: 30px;
	margin-bottom: 25px;
}